<%-include('./partials/header')%>
    <h1>Random Number: <%=rnum%></h1>
    <%if(rnum%2===0){%>
        <h1>Even</h1>
    <%}else{%>
        <h1>Odd</h1>
    <%}%>
    <%-include('./partials/footer')%>